{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Stephen's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Stephen_logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/Stephen_logo.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'assets/img/testimonials/StemiotCEO1.jpg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
       <img src="{% static 'assets/img/Stephen_logo.png' %}" alt="">
      <h1 class="sitename">Stephen Otieno</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://x.com/Engineerotienos" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="https://www.facebook.com/people/Stephen-Otieno/pfbid0YGH6NV4XGwoLQbVQRHBy6VjevgjvEmRX1ciQsexwmGvLU29t3VTkapjYruHmqhzBl/" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li class="dropdown"><a href="#"><i class="bi bi-menu-button navicon"></i> <span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <li><a href="{% url 'clients' %}"><i class="bi bi-person navicon"></i> Admin</a></li>

          <ul>
            <li><a href="#">Website Development</a></li>
            <li><a href="#">Application Development</a></li>
            <li><a href="#">Database Management</a></li>
            <li><a href="#">System Development</a></li>
            <li><a href="#">Cybersecurity</a></li>
            <li><a href="#">Network Installation</a></li>


          </ul>
        </li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/hero (2).JPG' %}" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Stephen Otieno</h2>
        <p>I'm <span class="typed" data-typed-items="Designer, Developer, Entrepreneur">Developer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am a full stack web developer pursuing Bachelor of Science in Software Engineering at Kisii University.
            Apart from Web Development, I also have outstanding skills in the field of Android Application Development. I have been able to undertake short courses in Cybersecurity, Database Management and Computer Networks to upgrade my technological skills.
            Besides being a student, I also run <b>Stemiot Softwares Company</b> of which I am the founder and the CEO.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/testimonials/StemiotCEO1.jpg' %}" style="border-radius: 10px" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Engineer Otieno</h2>
            <p class="fst-italic py-3">
            "Design isn’t just what it looks like and feels like—design is how it works."
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>October 2003</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>stemiotsoftwares.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254 115 598 800</span></li>

                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Software Engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>engineerotienoduor14@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi, Kenya</span></li>

                </ul>
              </div>
            </div>
            <p class="py-3">
              Frequent developing and designing of websites has enabled me to acquire more than enough knowledge in the programming field.
                I am a self-driven and hardworking developer who works tirelessly to beat deadlines and to produce quality systems.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->



    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>HTML</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>CSS</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>JavaScript</span> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Java</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Django</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>MySQL</span> <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Within a very short time in the tech industry, I have managed to make some giant steps that have seen me rising from no one to a highly skilled Tech Savvy with significant achievements.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Stephen Otieno</h4>
              <p><em>Innovative and deadline-driven Website Developer with more than 3 years of experience in web development and designing. Highly collaborative and hardworking individual, developing original website and systems from initial
                  to final within a very short time.</em></p>
              <ul>
                <li>Nairobi,Kenya</li>
                <li>+254 115-598-800</li>
                <li>stemiotsoftwares.com</li>
              </ul>
            </div><!-- End Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science in Software Engineering</h4>
              <h5>2023 - Present</h5>
              <p><em>Kisii University, Kisii</em></p>
              <p>Currently pursuing Software Engineering in one of the Kenya's renown university where we are equipped with hands-on training and best programming skills.</p>
            </div><!-- End Resume Item -->
{##}
{#            <div class="resume-item">#}
{#              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>#}
{#              <h5>2010 - 2014</h5>#}
{#              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>#}
{#              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>#}
{#            </div><!-- End Resume Item -->#}

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior Web Developer</h4>
              <h5>2024 - Present</h5>
              <p><em>Stemiot Softwares, Nairobi </em></p>
              <ul>
                <li>Developed the United in Rights website used to advocate for human rights and fight gender based violence in the country.</li>
                <li>Built the FiloArts+ website to enable the art enthusiasts to showcase their drawing and painting skills in the internet. </li>
                <li>Contributed in the Development of the Learning Management System meant to enhance online and remote training of tech students.</li>
              </ul>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>System Developer</h4>
              <h5>2024 - 2025</h5>
              <p><em>Stemiot Softwares, Nairobi</em></p>
              <ul>
                <li>Developed numerous application systems using Java (Payroll System, Scientific Calculator and Loan Application).</li>

              </ul>
            </div><!-- End Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Skills acquired can only be beneficial if used to serve the society and to provide solutions to the real world problems.
            Some of the services I offer are highlighted below.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-code"></i></div>
            <div>
              <h4 class="title"><a  class="stretched-link">Web Development</a></h4>
              <p class="description">A good website is one that is responsive, dynamic and easy to navigate.
                  I develop both frontend and backend websites that are highly responsive and user-friendly.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a  class="stretched-link">Web Designing</a></h4>
              <p class="description">Designing website makes a website to be more appealing and attractive as well as easing the user understanding. </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a  class="stretched-link">Database Management</a></h4>
              <p class="description">A fully stacked website must be able to store and retrieve the user's information whenever interacting with the website.
              I create and manage the databases for all the systems and websites I build for my clients.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-code-slash"></i></div>
            <div>
              <h4 class="title"><a  class="stretched-link">System Development</a></h4>
              <p class="description">I develop highly interactive systems that are mobile and platform independent. The System can work freely and are easy to operate regardless of individual's skills.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-lock"></i></div>
            <div>
              <h4 class="title"><a  class="stretched-link">Cybersecurity</a></h4>
              <p class="description">Security is one of the most crucial principles to consider in the today's world.
                  Security Vulnerabilities can cost one a fortune and therefore it is always advisable to consider it.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-router"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Network Installation</a></h4>
              <p class="description">In the digital age, connectivity is not a privilege; it’s a necessity for participation in education, work, and innovation.
                  Every sector require networking to prosper in the today's world.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Quality of a service can only be determined from the client's feedback and not from the developer's report.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Stephen Otieno is a highly skilled young tech enthusiast with more than enough potential to take our nations technology to the next level.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/StemiotCEO1.jpg' %}" class="testimonial-img" alt="">
                <h3>John Juma</h3>
                <h4>Ceo Gender Equality</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Stephen  is a man to watch! He has the capability of transforming nothing to something great.
                      I love the way he makes his designs to be so unique and original.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/images (2).jpeg' %}" class="testimonial-img" alt="">
                <h3>Sara Wambui</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I have worked with Stephen in more than one project and I can testify that he is a highly skilled person and deserves more than just a title. Keep it up man!.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Owina</h3>
                <h4>Database Manager</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Stephen is an organized and disciplined programmer. His generosity promotes unity within the organization.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/images2.JPG' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>I am available and always ready to listen, collaborate and take orders, feel free to reach me anytime.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Nairobi, Kenya</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Telephone</h3>
                  <p>+254 115 598 800</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>engineerotienoduor14@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

          <div class="col-lg-7">
            <form action="/contact/" method="post" class="" data-aos="fade-up" data-aos-delay="200">

                {% csrf_token %}

                <div class="col-md-6">
                  <label for="name-field" class="pb-2"><b>Your Name</b></label>
                  <input type="text" name="client_name" id="name-field" class="form-control" placeholder="Enter your name">
                </div>
                <br>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2"><b>Your Email</b></label>
                  <input type="email" class="form-control" name="client_email" id="email-field" placeholder="abc123@gmail.com" required="">
                </div>
                <br>


                <div class="col-md-12">
                  <label for="message-field" class="pb-2"><b>Message</b></label>
                  <textarea class="form-control" name="client_message" rows="10" id="message-field" required=""></textarea>
                </div>
                <br>

                <div class="col-md-12 text-center">

                  <button type="submit">Send Message</button>
                </div>

            </form>
              </div>
          </div><!-- End Contact Form -->

        </div>


    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Stephen otieno</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">

        Designed by <a href="https://stephen-otieno.github.io/MyWebpage1/">StemiotSoftwares</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>